.top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 8px);
  height: calc(64px - 4px);
  margin: 4px 4px 0;
  font-weight: bold;
  font-size: 24px;
  border-radius: 7px 7px 7px 0;
}

.layout {
  color: #005b77;
  background: #84C0C6;
}

.layout-content {
  display: grid;
  grid-template-columns: min-content 1fr;
  width: 100%;
  height: calc(100% - 64px);
}

.side-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(125px - 4px);
  height: calc(100% - 4px);
  margin: 0 0 4px 4px;
  font-weight: bold;
  font-size: 24px;
  border-radius: 0 0 7px 7px;
}

.side-bar span {
  writing-mode:vertical-lr;
  transform:scale(-1);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  margin: 4px;
  color: #4a6b07;
  font-weight: bold;
  font-size: 24px;
  background: #EBEFBF;
  border-radius: 7px;
}
