.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

.idea/
node_modules/
dist/
.DS_Store

.docusaurus
build

static/applications
static/frames

docs/docs/CHANGELOG.md

certs/
